.addNotificationWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notificationInput {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #1e90ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pushButton {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #fff;
    cursor: pointer;
}
.pushButton:hover {
    background-color: #1e70ff;
}

.pushButton.Info {
    background-color: #1e90ff;
}
.pushButton.Warning {
    background-color: #ffa500;
}
.pushButton.Error {
    background-color: #ff0000;
}